<footer id="footer" class="footer">

    <div class="footer-top">
        <div class="container" data-aos="fade-up">
            <div class="row ">
                <div class="col-xl-3 col-lg-3 col-md-6 col-12 footer-info">
                    <div class="footer-address">
                        <div class="py-4 p-2 bg-white text-center mb-3">
                            <img src="~/IcfaiTechassets/img/IcfaiTech-logo.svg" width="200" height="50" alt="The ICFAI University Hyderabad, ICFAI tech School" class="img-fluid" loading="lazy" />
                        </div>
                        <h4 class="mb-1"><i class="bi bi-pin-map"></i> Campus Address</h4>
                        <p>
                            <strong>The ICFAI Foundation for Higher Education (IFHE), <br /> Hyderabad</strong> <br />
                            Donthanapally, Shankarapalli Road  <br />
                            Hyderabad - 501203, Telangana, India. <br />
                        </p>
                        <h4 class="mb-1 mt-3"><i class="bi bi-phone-flip"></i> Phone </h4>
                        <p>
                            040-23479725/040-23479732
                        </p>
                        <h4 class="mb-1 mt-3"><i class="bi bi-phone"></i> Toll Free No </h4>
                        <p>
                            18005990767
                        </p>
                        <h4 class="mb-1 mt-3"><i class="bi bi-globe"></i> website </h4>
                        <p>
                            https://www.ifheindia.org/icfai-tech-school/
                        </p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-12 footer-links">
                    <h4 class="mb-1 mt-4">Follow us</h4>
                    <div class="social-links mt-3">
                        <a rel="noreferrer" title="facebook ICFAI University Hyderabad" href="https://www.facebook.com/IFHEHyderabadOfficial/" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a rel="noreferrer" title="twitter ICFAI University Hyderabad" href="https://twitter.com/IFHEofficial" target="_blank"><i class="bi bi-twitter-x"></i></a>
                        <a rel="noreferrer" title="youtube ICFAI University Hyderabad" href="https://www.youtube.com/c/IFHEofficial" target="_blank"><i class="bi bi-youtube"></i></a>
                        <a rel="noreferrer" title="linkedin ICFAI University Hyderabad" href="https://www.linkedin.com/company/ifheofficialhyderabad" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a rel="noreferrer" title="instagram ICFAI University Hyderabad" href="https://www.instagram.com/ifheofficial/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </div>
                    <hr class="text-white" />
                    <h4>Quick Links</h4>
                    <ul  class="mb-3">
                      
                        <li>
                            <a href="https://www.ifheindia.org/the-icfai-group" target="_blank" class="footerLink"><i class="bi bi-chevron-double-right"></i> The ICFAI Group</a>
                        </li>
                        <li>
                            <a href="/icfai-tech-school/icfaitech-anti-ragging-policy" target="_blank" class="footerLink"><i class="bi bi-chevron-double-right"></i> Anti Ragging Policy</a>
                        </li>
                        <li>
                            <a href="https://www.ifheindia.org/students-conduct-and-discipline-Rules.pdf" target="_blank" class="footerLink"><i class="bi bi-chevron-double-right"></i> Student Code of Conduct</a>
                        </li>
                        <li>
                            <a href="/icfai-tech-school/icfaitech-recruitment" class="footerLink"><i class="bi bi-chevron-double-right"></i> Recruitment at IcfaiTech Hyderabad</a>
                        </li>
                        <li>
                            <a href="https://hr.ifheindia.org/" target="_blank" class="footerLink"><i class="bi bi-chevron-double-right"></i> Employee Login</a>
                        </li>
                        <li>
                            <a href="/icfai-tech-school/icfaitech-policy-prohibiting-discrimination" class="footerLink"><i class="bi bi-chevron-double-right"></i> Policy Prohibition</a>
                        </li>
                        <li>
                            <a href="https://www.ifheindia.org/Handbook-on-sexual-harassment-of-women-at-workplace.pdf" target="_blank" class="footerLink"><i class="bi bi-chevron-double-right"></i> Discrimination &amp; Sexual Harrasement</a>
                        </li>
                    </ul>
                    
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-12 footer-links">
                    <h4 class="mb-1 mt-4">Virtual Tour</h4>
                    <a class="" href="https://www.ifheindia.org/Virtual-Campus-Tour/" target="_blank">
                        <img src="~/assets/svg-icons/Home-Page-Virtual-Tour.svg" alt="IFHE Hyderabad Campur Tour" class="img-fluid mb-2" loading="lazy" />
                    </a>
                    <hr class="text-white" />
                    <h4>Programs</h4>
                    <ul class="mb-3">
                        <li><i class="bi bi-chevron-right"></i><a href="/icfai-tech-school/ugprograms/btech">B.Tech </a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="/icfai-tech-school/ugprograms/bsc">B.Sc.</a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="/icfai-tech-school/ugprograms/bca">BCA </a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="/icfai-tech-school/ugprograms/mtech">M.Tech</a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="/icfai-tech-school/pgprograms/msc">M.Sc.</a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="/icfai-tech-school/doctoral/phd-sciences-maths-physics-chemistry">Ph.D (Sciences - Maths, Physics, Chemistry) (Full-time/Part-time)</a></li>
                        <li><i class="bi bi-chevron-right"></i><a href="/icfai-tech-school/doctoral/engineering-tech">Ph.D (Engineering & Tech. - CE, CSE, ECE, ME) (Full-time/Part-time)</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-12 footer-contact text-center text-md-start">
                    <h4 class="mb-1 mt-4">Route Map to IFHE Hyderabad Campus</h4>
                    <img src="~/assets/img/route-map-ifhe-campus.jpg" class="img-fluid img-rounded" alt="The ICFAI Foundation Higher Education Hyderabad" loading="lazy" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright pb-3">
            © 2024 Copyright All Rights Reserved by <strong><span>The ICFAI Group</span></strong>.
        </div>
    </div>
</footer>
<a href="#Top" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>










