<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title </title>
<meta name="description" content="@ViewBag.MetaDescription" />
<meta name="keywords" content="@ViewBag.MetaKeywords" />

<link rel="canonical" href="https://www.ifheindia.org/icfai-tech-school-hyderabad">

<meta property="og:title" content="The IFHE Hyderabad|MBA|B.Tech|BBA|B.Arch|BBA-LLB|Ph.D">
<meta property="og:site_name" content="IFHE Hyderabad">
<meta property="og:url" content="https://www.ifheindia.org/icfai-tech-school-hyderabad" />
<meta property="og:description"
      content="IFHE is one of the largest multi-disciplinary universities in the country. The Faculty of Management, Faculty of Science and Technology and Faculty of Law are the three main building blocks of the university." />
<meta property="og:image" content="~/favicon/favicon-300x300.png" />
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="The IFHE Hyderabad|MBA|B.Tech|BBA|B.Arch|BBA-LLB|Ph.D">
<meta name="twitter:description"
      content="IFHE is one of the largest multi-disciplinary universities in the country. The Faculty of Management, Faculty of Science and Technology and Faculty of Law are the three main building blocks of the university.">
<meta name="twitter:image" content="~/favicon/favicon-300x300.png">
<meta name="robots" content="all" />
<meta http-equiv="robots" content="index, all, follow" />
<meta name="author" content="ICFAI">
<link rel="manifest" href="manifest.json">
<link rel="icon" href="~/favicon/favicon.png" />

<!-- Favicons-->
<link rel="shortcut icon" type="image/png" href="~/favicon/favicon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="~/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="~/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="~/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="~/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="~/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="~/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="~/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">


<meta name="theme-color" content="#e31e34">

<!-- styles start here -->
@*@Styles.Render("~/assets/vendor/bootstrap/css")*@
<link href="~/IcfaiTechassets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/IcfaiTechassets/vendor/aos/aos.css" rel="stylesheet" />
@*<link href="~/assets/vendor/aos/aos.css" rel="stylesheet" />*@
@*@Styles.Render("~/assets/vendor/bootstrap-icons")*@
<link href="~/IcfaiTechassets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

@*@Styles.Render("~/assets/css")*@
<link href="~/IcfaiTechassets/css/style.css" rel="stylesheet" />
@Html.Partial("_NavbarIcfaiTechSchool")


