
@{
    ViewBag.Title = "IcfaiTech Hyderabad - Best Engineering Institution in Hyderabad";
    ViewBag.MetaDescription = "IFHE Hyderabad’s ICFAI Tech is one of the leading engineering colleges in Hyderabad. IcfaiTech offers B.Tech, BSc., BCA,  M.Tech, MCA, and PhD in science & engineering streams";
    ViewBag.MetaKeywords = "IFHE Hyderabad, ICFAI University Hyderabad, IFHE, engineering colleges in India, engineering institute, best universities in India for b tech program, B.Tech course, Integrated First Degree Program, B.Sc. Data Analytics, B.Sc. Mathematics, B.Sc. Physics, B.Tech in Mechatronics, B.Tech in Data Science & Artificial Intelligence (DS & AI), bachelor of technology, b.e, M.Tech, higher degree programs, Ph.D, Doctoral Program in engineering";
    Layout = "~/Views/Shared/_LayoutIcfaiTechSchool.cshtml";
}

<section class="Masterslider">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="CircleBtn active" aria-current="true" aria-label="Slide 0"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" class="CircleBtn active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" class="CircleBtn active" aria-current="true" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="~/IcfaiTechassets/img/sliders/banner1.jpg" class="img-fluid w-100" alt=".." loading="lazy" />
            </div>
            <div class="carousel-item">
                <img src="~/IcfaiTechassets/img/sliders/banner2.jpg" class="img-fluid w-100" alt=".." loading="lazy" />
            </div>
            <div class="carousel-item">
                <img src="~/IcfaiTechassets/img/sliders/banner3.jpg" class="img-fluid w-100" alt=".." loading="lazy" />
            </div>
        </div>
    </div>
</section>

<section class="InfSection  sticky-top" id="#InfSection">
    <div class="container-fluid">
        <div class="row RowCustom">
            <div class="col-xl-9 col-lg-9 col-md-8 col-12">
                <div class="d-flex PipeLineSection">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="float--end">
                    <a class="AdmissionBtn" target="_blank" href="https://www.ifheindia.org/icfaitech/Adm2024/">
                        Admissions Open 2024
                        <img src="~/IcfaiTechassets/img/ApplynowIcon.svg" alt="Admissions Open" class="img-fluid" loading="lazy" width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="AccredRecog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-4 col-12 mb-3" data-aos="fade-up" data-aos-delay="200">
                <h1 class="title">
                    Recognitions & Accreditations
                </h1>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-8 col-12">
                <div class="WrapBox4">
                    <div class="card" data-aos="fade-up" data-aos-delay="100">
                        <img src="~/IcfaiTechassets/img/RecongLogos/NAAC-Logo.png" class="card-img-top" alt="IFHE has been accredited by NAAC with ‘A++’ grade with a CGPA score of 3.59/4.00." loading="lazy" />
                        <div class="card-body">
                            <p class="card-text">IFHE has been accredited by NAAC with <br /> ‘A++’ grade with a CGPA score of 3.59/4.00. </p>
                        </div>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-delay="300">
                        <img src="~/IcfaiTechassets/img/RecongLogos/UGC-Logo.png" class="card-img-top" alt="University Grants Commission" loading="lazy" />
                        <div class="card-body">
                            <p class="card-text">University Grants Commission </p>
                        </div>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-delay="300">
                        <img src="~/IcfaiTechassets/img/RecongLogos/AICTE-Logo.png" class="card-img-top" alt="All India Council for Technical Education" loading="lazy" />
                        <div class="card-body">
                            <p class="card-text">All India Council for Technical Education </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="CampusContent">
    <div class="container-fluid" data-aos="fade-up">
        <div class="row RowCustom">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="WrapBox2">
                    <div class="ImgBox" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/IcfaiTechassets/img/campus-building.png" alt="Campus Tour" class="img-fluid" loading="lazy" width="650" height="500" />
                        <div class="CampusTourSec">
                            <span class="SpanText">
                                <img src="~/IcfaiTechassets/svg-icons/Virtual-Tour-icon.svg" class="img-fluid" width="35" height="35" alt="ICFAI Mizoram 17.58 acres lush green campus" />
                                <a class="text-dark" href="https://www.ifheindia.org/Virtual-Campus-Tour/" target="_blank">Campus Tour</a>
                            </span>
                            <span class="SpanText">91 acres lush green campus</span>
                        </div>
                    </div>

                    <div class="ContentBox" data-aos="fade-up" data-aos-delay="400">
                        <h2 class="title">
                            IcfaiTech School <br /> Hyderabad
                        </h2>
                        <ul>
                            <li>
                                IcfaiTech School follows semester system with continuous and Internal Evaluation. The educational programs are modular, flexible, and interdisciplinary in nature
                            </li>
                            <li>
                                IcfaiTech School operates educational programs at three tiers of education, namely, the integrated first degree programs, higher degree programs and the doctoral programs.
                            </li>
                            <li>
                                The ICFAI Foundation for Higher Education is a deemed-to-be-University established under section 3 of UGC Act, 1956.
                            </li>
                            <li>
                                IFHE’s comprehensive student-centric learning approach provides relevant knowledge, imparts practical skills and inculcates a positive attitude among the students.
                            </li>
                            <li>
                                Today, IFHE is one of the largest multi-disciplinary universities in the country.
                            </li>
                        </ul>

                        <div class="float-end" data-aos="fade-up" data-aos-delay="900">
                            <a href="/icfai-business-school/aboutus/about-IcfaiTech-campus" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="campustop_view" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 ifhe_globe">
                <a target="_blank" href="https://www.ifheindia.org/Virtual-Campus-Tour/" rel="noreferrer" class="play_btn float-end" title="Campus Virtual Tour">
                    <i class="bi bi-play-fill"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="countSection">
    <div class="container">
        <div class="row counts" id="counts" data-aos="fade-up">

            <div class="col-xl-12 clol-lg-12 col-md-12 col-12">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center" />
                <h3>ABOUT IcfaiTech</h3>
            </div>
            <div class="WrapFive">

                <div class="mb-1 p-1" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter">100</span>
                            <p>Faculty</p>
                        </div>
                    </div>
                </div>

                <div class="mb-1 p-1" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box text-center">
                        <span class="d-flex justify-content-center">
                            <span data-purecounter-start="0" data-purecounter-end="8500" data-purecounter-duration="1" class="purecounter">8500</span>
                            <span> + </span>

                        </span>
                        <p> Students </p>
                    </div>

                </div>

                <div class="mb-1 p-1" data-aos="fade-up" data-aos-delay="400">
                    <div class="count-box text-center">
                        <span class="d-flex justify-content-center">
                            <span data-purecounter-start="0" data-purecounter-end="66000" data-purecounter-duration="1" class="purecounter">66000</span>
                            <span> + </span>

                        </span>
                        <p> Alumni </p>
                    </div>
                </div>
                <div class="mb-1 p-1" data-aos="fade-up" data-aos-delay="400">
                    <div class="count-box text-center">
                        <span class="d-flex justify-content-center">
                            <span data-purecounter-start="0" data-purecounter-end="95" data-purecounter-duration="1" class="purecounter">95</span>
                            <span>  % </span>

                        </span>
                        <p> Placements </p>
                    </div>
                </div>
                <div class="mb-1 p-1" data-aos="fade-up" data-aos-delay="500">
                    <div class="count-box text-center">
                        <span class="d-flex justify-content-center">
                            <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1" class="purecounter">35</span>

                        </span>
                        <p> Years in Flexible Learning</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="IcfaiTech-placement bg-cover IcfaiTech-placement-Section" data-aos="fade-up">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="IcfaiTech-explore-media-wrap">
                        <div class="IcfaiTech-IcfaiTech-icon-media">
                            <img src="~/IcfaiTechassets/img/placement-large-img.jpg" width="450" height="650" class="img-fluid" alt="ICFAI University, Dehradun Placements" loading="lazy">
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="IcfaiTech-explore-content-outer">
                        <div class="IcfaiTech-explore-content">
                            <div class="IcfaiTech-l-line-1"></div>
                            <div class="IcfaiTech-l-line-2"></div>
                            <div class="IcfaiTech-r-circle-1"></div>
                            <div class="IcfaiTech-r-circle-2"></div>
                            <div class="IcfaiTech-title-small">
                                IcfaiTech School
                                Hyderabad
                            </div>
                            <div class="IcfaiTech-title-large">
                                <h2>Placements</h2>
                                <p>
                                    IcfaiTech campuses have a strong brand image of turning out well rounded students who have been transformed into leaders.
                                </p>
                                <ul class="text-warning1 pl-3">
                                    <li><strong>Our students are making a difference to organizations both in India and around the world. Many leading Indian and global corporations prefer to hire students from IcfaiTech campuses for their proven worth.</strong></li>
                                </ul>
                            </div>
                            <div> <a href="/icfai-business-school/IcfaiTech-placements" class="btn-warning-new">More placements <i class="bi bi-arrow-right"></i></a> </div>
                            <div class="IcfaiTech-explore-bottom-section">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="IcfaiTech-counter-outer-two">
                                            <div class="IcfaiTech-icon-content">
                                                <div class="IcfaiTech-M-count-number IcfaiTech-text-clr-yellow-2"> <span class="counter">95%</span></div>
                                                <p class="IcfaiTech-icon-content-info">
                                                    Students placed Class of 2023
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="IcfaiTech-counter-outer-two">
                                            <div class="IcfaiTech-icon-content">
                                                <div class="IcfaiTech-M-count-number text-clr-green">
                                                    <span class="counter">
                                                        ₹ 21.00
                                                        L
                                                    </span>
                                                </div>
                                                <p class="IcfaiTech-icon-content-info">National Highest salary</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="IcfaiTech-counter-outer-two">
                                            <div class="IcfaiTech-icon-content">
                                                <div class="IcfaiTech-M-count-number text-clr-pink">
                                                    <span class="counter">
                                                        ₹ 58.19
                                                        L
                                                    </span>
                                                </div>
                                                <p class="IcfaiTech-icon-content-info"> International Highest salary</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="IcfaiTech-bold-circle-right"></div>
                        <div class="IcfaiTech-bold-circle-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="Faculty-Resource-Section pb-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-UpEvents-tab" data-bs-toggle="pill" data-bs-target="#pills-UpEvents" type="button" role="tab" aria-controls="pills-UpEvents" aria-selected="true">Upcoming Events</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-NewsEvents-tab" data-bs-toggle="pill" data-bs-target="#pills-NewsEvents" type="button" role="tab" aria-controls="pills-NewsEvents" aria-selected="false">News & Events</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-FstAchiv-tab" data-bs-toggle="pill" data-bs-target="#pills-FstAchiv" type="button" role="tab" aria-controls="pills-FstAchiv" aria-selected="false">Faculty Achivements</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-UpEvents" role="tabpanel" aria-labelledby="pills-UpEvents-tab" tabindex="0">
                        <div class="Academic-Industry-Section">
                            <div class="container">
                                <div class="row">
                                    <div class="Title-Heading">
                                        <h3>Upcoming Events </h3>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 Academic-Logos">
                                        <div class="wrapper">
                                            <div class="carouselAcademiclogs  owl-carousel">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="~/IcfaiTechassets/img/events/upcoming-2024-Elysium-homepage.jpg" class="img-fluid" loading="lazy" />
                                                        <div class="set text-center">
                                                            <a class="cardBtn" href="~/IcfaiTech~/IcfaiTechassets/img/events/upcoming-2024-Elysium-homepage.jpg" target="_blank">View More</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-body">

                                                        <img src="~/IcfaiTechassets/img/events/upcoming-2024-IRA-healthcare-homepage.jpg" class="img-fluid" loading="lazy" />
                                                        <div class="text-center">
                                                            <a class="cardBtn" href="~/IcfaiTech~/IcfaiTechassets/img/events/upcoming-2024-IRA-healthcare-homepage.jpg" target="_blank">View More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-body">

                                                        <img src="~/IcfaiTechassets/img/events/upcoming-2024-The-Merchant-of-Venice-homepage.jpg" class="img-fluid" loading="lazy" />
                                                        <div class="text-center">
                                                            <a class="cardBtn" href="~/IcfaiTech~/IcfaiTechassets/img/events/upcoming-2024-The-Merchant-of-Venice-homepage.jpg" target="_blank">View More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="~/IcfaiTechassets/img/events/upcoming-Workshop-3Dprinting-2024.jpg" class="img-fluid" loading="lazy" />
                                                        <div class="text-center">
                                                            <a class="cardBtn" href="~/IcfaiTech~/IcfaiTechassets/img/events/upcoming-Workshop-3Dprinting-2024.jpg" target="_blank">View More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-NewsEvents" role="tabpanel" aria-labelledby="pills-NewsEvents-tab" tabindex="0">
                        <div class="Academic-Industry-Section">
                            <div class="container">
                                <div class="row">
                                    <div class="Title-Heading">
                                        <h3>News & Events </h3>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 Academic-Logos">
                                        <div class="wrapper">
                                            <div class="carouselAcademiclogs  owl-carousel">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <span class="date_sec">24th January, 2024</span>
                                                        <img src="~/IcfaiTechassets/img/events/Workshop-3Dprinting-2024-homepage.jpg" alt="events-img" class="img-fluid" width="150" height="150" loading="lazy">
                                                        <h4 class="card-title">One Day Workshop on 3D Printing, 24<sup>th</sup>January, 2024</h4>
                                                        <a class="readMore-btn" href="3d-Printing" target="_blank">View More <i class="bi bi-arrow-right"></i></a>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-body">
                                                        <span class="date_sec">16th Jan, 2024</span>
                                                        <img src="~/IcfaiTechassets/img/events/startup-1-jan2024-homepage.jpg" alt="events-img" class="img-fluid" width="150" height="150" loading="lazy">
                                                        <h4 class="card-title">National Startup Day celebrations 16<sup>th</sup>Jan, 2024</h4>
                                                        <a class="readMore-btn" href="National-Startup-Day-2024" target="_blank">View More <i class="bi bi-arrow-right"></i></a>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-body">
                                                        <span class="date_sec">12th Jan, 2024</span>
                                                        <img src="~/IcfaiTechassets/img/events/youthday-2024-homepage.jpg" alt="events-img" class="img-fluid" width="150" height="150" loading="lazy">
                                                        <h4 class="card-title">National Youth Day Celebration 12<sup>th</sup>Jan, 2024</h4>
                                                        <a class="readMore-btn" href="National-Youth-Day-2024" target="_blank">View More <i class="bi bi-arrow-right"></i></a>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-body">
                                                        <span class="date_sec">22nd December, 2023</span>
                                                        <img src="~/IcfaiTechassets/img/events/national-Mathematics-2023-homepage.jpg" alt="events-img" class="img-fluid" width="150" height="150" loading="lazy">
                                                        <h4 class="card-title">National Mathematics Day 22<sup>nd</sup>December, 2023</h4>
                                                        <a class="readMore-btn" href="National-Mathematics-Day-2023" target="_blank">View More <i class="bi bi-arrow-right"></i></a>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-body">
                                                        <span class="date_sec">6th January, 2024</span>
                                                        <img src="~/IcfaiTechassets/img/events/Quintessence_Alumni_meet-2024-homepage.jpg" alt="events-img" class="img-fluid" width="150" height="150" loading="lazy">
                                                        <h4 class="card-title">Quintessence - Alumni Meet 6<sup>th</sup>Jan, 2024</h4>
                                                        <a class="readMore-btn" href="~/IcfaiTechassets/img/events/Quintessence_Alumni_meet-2024.jpg" target="_blank">View More <i class="bi bi-arrow-right"></i></a>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-body">
                                                        <span class="date_sec">25th Dec, 2023 to 30th</span>
                                                        <img src="~/IcfaiTechassets/img/events/ATAL-FDP-homepage.jpg" alt="events-img" class="img-fluid" width="150" height="150" loading="lazy">
                                                        <h4 class="card-title">FDP on Metal Additive Manufacturing</h4>
                                                        <a class="readMore-btn" href="ATAL-FDP" target="_blank">View More <i class="bi bi-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-FstAchiv" role="tabpanel" aria-labelledby="pills-FstAchiv-tab" tabindex="0">
                        <div class="Events-Section">
                            <div class="container" data-aos="fade-up">
                                <div class="row">
                                    <div class="Title-Heading">
                                        <h3 class="title">Faculty Achivements</h3>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-12" data-aos="fade-up" data-aos-delay="200">
                                        <div class="img-set">
                                            <img src="~/IcfaiTechassets/img/events-img.jpg" class="img-fluid" alt="Faculty Achivements" loading="lazy" />
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
                                        <div class="row align-self-center gy-2 mb-2">
                                            <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                                                <div class="feature-box align-items-center">
                                                    <p class="title">
                                                        In a dedicated pursuit of excellence, IFHE Hyderabad embarked on a transformative initiative by formalizing a Memorandum of Understanding (MoU) with NASSCOM. Guided by our esteemed director, Dr. K L Narayana
                                                    </p>
                                                    <a href="/icfai-tech-school-hyderabad/" class="text-danger" target="_blank">View More</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                                                <div class="feature-box align-items-center">
                                                    <p class="title">
                                                        Dr. Vivekananda Kukkala presented a paper on "Experimental investigation and hybrid metaheuristic optimization using ANN-MOJAYA on corner accuracy during WEDM for Ti-3Al2.5V." during AIMTDR 2023, 9th International & 30th All India Manufacturing Technology, Design and Research Conference)
                                                    </p>
                                                    <a href="/icfai-tech-school-hyderabad/" class="text-danger" target="_blank">View More</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                                                <div class="feature-box align-items-center">
                                                    <p class="title">
                                                        Dr. Sirisha Potluri received: EAI International Conference on Artifical Intelligence in Health Care Applications, Held in Bratislava, Slovakia on 24-26 October 2023
                                                    </p>
                                                    <a href="/icfai-tech-school-hyderabad/" class="text-danger" target="_blank">View More</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                                                <div class="feature-box align-items-center">
                                                    <p class="title"> Dr.Sirisha Potluri and Dr. B. Deevena Raju received: Best Paper Award. 1ST INTERNATIONAL CONFERENCE ON ADVANCED OPTIMIZATION TECHNIQUES AND APPLICATIONS (AOTA - 2023)</p>
                                                    <a href="/icfai-tech-school-hyderabad/" class="text-danger" target="_blank">View More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-aos="fade-up" data-aos-delay="600">
                                            <a href="/icfai-tech-school/academics/icfaitech-faculty-achievements" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    </div>
                </div>
        </div>
    </div>
</section>






<section class="Academic-Industry-Section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="img-set" data-aos="fade-up">
                    <img src="~/IcfaiTechassets/img/academic-industry.jpg" class="img-fluid" alt="Academic-Industry Collaboration" loading="lazy" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">

                <h3 class="title" data-aos="fade-up" data-aos-delay="400">
                    Collaborations
                </h3>
                <p class="content mb-3" data-aos="fade-up" data-aos-delay="500">
                    In order to promote strong industry and
                    academia partnership, IcfaiTech is associated
                    with various Multinational and Indian companies
                    listed below
                </p>

                <div data-aos="fade-up" data-aos-delay="400">
                    <a href="/icfai-tech-school/academics/icfaitech-collaborations" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                </div>
                <div class="Academic-Logos mt-3" data-aos="fade-up">
                    <div class="wrapper">
                        <div class="carouselAcademiclogs owl-carousel">
                            <div class="card">

                                <img src="~/IcfaiTechassets/academic-industry-icons/Bentley-Logo.png" alt="Bentley-Logo" loading="lazy" />
                            </div>
                            <div class="card">

                                <img src="~/IcfaiTechassets/academic-industry-icons/HKPU-logo.png" alt="HKPU-logo" loading="lazy" />
                            </div>
                            <div class="card">

                                <img src="~/IcfaiTechassets/academic-industry-icons/MSU-logo.png" alt="MSU-logo" loading="lazy" />
                            </div>
                            <div class="card">


                                <img src="~/IcfaiTechassets/academic-industry-icons/MUS-logo.png" alt="MUS-logo" loading="lazy" />
                            </div>
                            <div class="card">

                                <img src="~/IcfaiTechassets/academic-industry-icons/OSU-logo.png" alt="OSU-logo" loading="lazy" />
                            </div>
                            <div class="card">
                                <img src="~/IcfaiTechassets/academic-industry-icons/SU-logo.png" alt="SU-logo" loading="lazy" />

                            </div>
                            <div class="card">
                                <img src="~/IcfaiTechassets/academic-industry-icons/UMT-logo.png" alt="UMT-logo" loading="lazy" />

                            </div>
                            <div class="card">

                                <img src="~/IcfaiTechassets/academic-industry-icons/UOD-logo.png" alt="UOD-logo" loading="lazy" />
                            </div>
                            <div class="card">

                                <img src="~/IcfaiTechassets/academic-industry-icons/UON-logo.png" alt="UON-logo" loading="lazy" />
                            </div>
                            <div class="card">
                                <img src="~/IcfaiTechassets/academic-industry-icons/UOSA-logo.png" alt="UOSA-logo" loading="lazy" />

                            </div>
                            <div class="card">

                                <img src="~/IcfaiTechassets/academic-industry-icons/UOT-logo.png" alt="UOT-logo" loading="lazy" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="Leadership-Section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-12" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/IBSassets/img/Njyasawy.jpg" alt="N. J. Yasaswy" class="img-rounded" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">N. J. Yasaswy</h5>
                        <p class="card-text">(1950 - 2011)</p>
                        <p class="card-text"><em>Founder of the ICFAI Group of educational institutions</em></p>
                        <div class="text-center">
                            <a href="/aboutus/the-icfai-group" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-8 col-12 mt-5 pt-5">
                <div class="Title-Heading mt-2 pt-1" data-aos="fade-up" data-aos-delay="400">
                    <h3 class="title">Our Leadership</h3>
                </div>
                <div class="carouselLeaderShip owl-carousel">
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="/assets/img/leadership/LS-Ganesh.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt="Prof. LS Ganesh" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Prof. LS Ganesh
                                    </h3>
                                    <p class="sub-title"> VC, IFHE Hyderabad </p>
                                </div>
                            </div>

                            <div class="float-end">
                                <a href="/aboutus/message-vc" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="/assets/img/leadership/Dr-KL-Narayana-new.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt="Dr. K. L. Narayan" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Dr. K. L. Narayan
                                    </h3>
                                    <p class="sub-title"> Director, IcfaiTech </p>
                                </div>
                            </div>

                            <div class="float-end">
                                <a href="/aboutus/IcfaiTech-director" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="Alumni-Section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                <div class="Title-Heading" data-aos="fade-up" data-aos-delay="200">
                    <h3 class="title">ITS Alumni <br /> <br />A Growing fraternity</h3>
                </div>
                <p class="content" data-aos="fade-up" data-aos-delay="400">
                    ITS, Hyderabad has a growing alumni base of around 16,700+ who are currently pursuing fast track careers with 1000+ companies in India and abroad.
                </p>
                <div data-aos="fade-up" data-aos-delay="600">
                    <a href="/icfai-tech-school-hyderabad/icfaitech-alumni" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-12" data-aos="fade-up" data-aos-delay="700">
                <div class="wrapper">
                    <div class="carouselAumni owl-carousel">
                        <div class="card cardTop">
                            <div class="card-body">
                                <div class="d-flex">
                                   
                                    <div class="flex-shrink-0 icon">
                                        <img src="~/IcfaiTechassets/img/alumni/Harshini.jpg" class="img-rounded" width="60" height="60" loading="lazy" alt="Harshini" />
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="title">Harshini</h3>
                                        <p class="sub-title">
                                            <strong>Organization :</strong> National Institute of Urban Management.
                                        </p>
                                    </div>
                                </div>
                                <p class="content">
                                    This is Harshini of class of 2023 from IcfaiTech, Hyderabad. IcfaiTech stands as the cornerstone of my career success, uniquely equipping
                                </p>

                            </div>
                        </div>

                        <div class="card cardTop">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 icon">
                                        <img src="~/IcfaiTechassets/img/alumni/Thrishitha.jpg" class="img-rounded" width="60" height="60" loading="lazy" alt="Thrishitha Kalvakota" />
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="title">Thrishitha Kalvakota</h3>
                                        <p class="sub-title">
                                            <strong>Organization :</strong> Eficens Software Services Private Limited.
                                        </p>
                                    </div>
                                </div>
                                <p class="content">
                                    I am Thrishitha Kalvakota, a B.Tech graduate of class of 2023 from IcfaiTech, Hyderabad in the CSE stream. Icfai provided me with
                                </p>

                            </div>
                        </div>
                        <div class="card cardTop">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 icon">
                                        <img src="~/IcfaiTechassets/img/alumni/Aryan.jpg" class="img-rounded" width="60" height="60" loading="lazy" alt="Aryan" />
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="title">Aryan</h3>
                                        <p class="sub-title">
                                            <strong> Organization :</strong> FogTeams
                                        </p>
                                    </div>
                                </div>
                                <p class="content">
                                    This is Aryan of class of 2023 from IcfaiTech, Hyderabad. Joining IcfaiTech in 2019 was one of the best decisions I’ve made to date. Right off the bat, I got opportunities to not only
                                </p>
                            </div>
                        </div>

                        <div class="card cardTop">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 icon">
                                        <img src="~/IcfaiTechassets/img/alumni/Vasa-Srinivas.jpg" class="img-rounded" width="60" height="60" loading="lazy" alt="Vasa Srinivas" />
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="title">Vasa Srinivas</h3>
                                        <p class="sub-title">
                                            <strong>Organization :</strong> Implementation Analyst
                                        </p>
                                    </div>
                                </div>
                                <p class="content">
                                    I am Vasa Srinivas, a B.Tech graduate of class of 2023 from IcfaiTech, Hyderabad. I have Joined IcfaiTech due to it’s good education
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Campus-Section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="Title-Heading" data-aos="fade-up" data-aos-delay="100">
                <h3 class="title">
                    Life at Campus
                 </h3>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/assets/img/campuslifeImg/dining.jpg" alt="Dining Hall" class="card-img-top" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Dining Hall</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/assets/img/campuslifeImg/sports.jpg" alt="Sports" class="card-img-top" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Sports</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="400">
                <div class="card">
                    <img src="/assets/img/campuslifeImg/health.jpg" alt="Health and Fitness" class="card-img-top" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Health and Fitness</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="500">
                <div class="card">
                    <img src="/assets/img/campuslifeImg/events.jpg" alt="Cultural Events" class="card-img-top" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Cultural Events</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="600">
                <div class="card">
                    <img src="/assets/img/campuslifeImg/classroom.jpg" alt="Class Room" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Class Room</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="700">
                <div class="card">
                    <img src="/assets/img/campuslifeImg/library.jpg" alt="Library" class="card-img-top" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Library</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




